body {
	margin: 0;
	padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: normal;  /*400*/
	color: #000000;   /*черный*/
	text-transform: uppercase;   /*прописные символы*/
	
	background-color: #f2f2f2;  /*серый*/
}

a {
	text-decoration: none;  /*без подчеркивания*/
}

.main-navigation, .appointment-item {      /*шрифт для навигации и формы даты поездки*/
    font-weight: bold;  /*жирный шрифт*/
	color: #000000;
	background-color: #ffffff;
}

.site-navigation {
	list-style: none;   /*без маркеров*/
}

.site-navigation a {
	color: #000000;        /*покой*/
}

.site-navigation a:hover {  
	color: #81b3d2;   /*наведение - голубой*/
}

.site-navigation a:focus { 
	color: #000000;   /*нажатие - черный прозрачный*/
	opacity: 0.3;
}

.features-list {
	list-style: none;
}

.title-sedona, .title, .title2, .text {
	text-align: center;
}

.title-sedona {
	font-size: 21px;
	line-height: 26px;    /*между строк 26px*/
	font-weight: bold;
}

.title, .hashtag {       /*шрифт для заголовков*/
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
}

.index-columns {
	background-color: #ffffff;
}

.real-city, .bridge {           
	background-color: #81b3d2;
}

.area-road-tourists {
	background-color: #eeeeee;
}

.interesting {
	background-color: #ffffff;
}

.title2 {                           /*шрифт для заголовка "заинтересовались"*/
	font-size: 30px;
	font-weight: bold;
}

.button {
	font: inherit;  /*наследует свойство родит. элемента*/
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase; 
	
	border: none;
}

.find-button {
	background-color: #766357;
}

.find-button:hover {
	background-color: #604e43;
}

.find-button:active {                     
	color: rgba(255,255,255,0.3);
	background-color: #503e33;
}

.find {
	background-color: #81b3d2;
}

.find:hover {
	background-color: #669ec0;
}

.find:active {
	color: rgba(255,255,255,0.3);
	background-color: #5496bd;
}

.appointment-item input {
	font: inherit;
	
	font-weight: bold;  /*жирный шрифт*/
	color: #000000;
	background-color: #f2f2f2;
}

.appointment-item input:hover {  
	background-color: #ebebeb;
}

.appointment-item input:focus {
	background-color: #ffffff;
	border: 1px;
	border-color: #e5e5e5;
}

.footer-social {
	text-align: center;
}

.footer-social ul {
	list-style: none;
}

.social-button {
	color: #ffffff;
}

.footer-copyright {
	text-align: center;
}
/*
.logo:hover {
	color: #81b3d2;
}

.logo:focus {
	color: #c9c8c8;
}
*/

.modal {
	color: #ffffff;
}

.inner-page {
	background-color: #ffffff;
}

.filter, .catalog-list, .sort, .title {
	list-style: none;
}

.inner-page .site-navigation-current a {   /*находимся на странице*/
	color: #766357;
}

.inner-page .title {
	text-align: left;
	font-size: 21px;
	line-height: 26px;    /*между строк 26px*/
	font-weight: bold;
}

.title3 {                        /*шрифт для "инфраструктура, тип жилья и стоимость в сутки"*/
	font-size: 16px;
	line-height: 21px;
}

.sort {                         /*шрифт для сортировки*/
	font-size: 12px;
}

.sorting a {
	/*text-decoration: underline;*/
	border-bottom: 1px dotted #81b3d2;
	color: rgba(0,0,0,0.3);
}

.sorting a:hover {
	color: #81b3d2
}

.sorting a:focus {
	color: #000000;
	border-bottom: none;
}

.sorting .sorting-current a{
	color: #81b3d2;
	text-decoration: none;
}

.button1 {                             /*забронировать*/
	color: #ffffff;
	background-color: #81b3d2;
	
}

.button1:hover {                            
	background-color: #669ec0;
}

.button1:active {                            
	background-color: #5496bd;
	color: rgba(255,255,255,0.3);
}

.button2 {                              /*подробнее*/
	color: #ffffff;
	background-color: #766357;
}

.button2:hover {                             
	background-color: #604e43;
}

.button2:active {                             
	background-color: #503e33;
	color: rgba(255,255,255,0.3);
}

.catalog-category, .inner-page .title {   /*amara и другие: покой, наведение и нажатие*/
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}

.catalog-category:hover {
	color: #81b3d2;
}

.catalog-category:active {
	color: rgba(0,0,0,0.3);
}

.filter fieldset {  /*нет рамки у инфраструктуры и типа жилья*/
	border: none;
}

.filter-option {
	font-size: 14px;
	line-height: 21px;
	/*color: #ffffff;*/
}

.options {
	list-style: none;
}

.filter-input:hover + label,
.filter-input:focus + label {
	color: #ffffff;
}

.filter-input:disabled + label {
	color: #6a6a6a;
}

.footer-copyright .text {
	color: #000000;
}

/*Сеточные стили*/

html, 
body {
	min-width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

body {
	
	/*Временно для сетки*/
	background-image: url('../img/sedona-index.png');
	background-size: auto auto;   /*размеры фона исходные*/        
	background-repeat: no-repeat;
	background-position: center top;
	opacity: 0.3;
}

.wrapper {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

.main-header {
	margin: 0;
	padding: 0;
	/* Временно для сетки */
	min-height: 56px;
	/*background-color: green;*/
}

.main-navigation ul {
	margin: 0;
}

.main-navigation {                      
  display: flex;
  flex-direction: column;
  align-items: center;
  
  /* Временно для сетки */
  min-height: 56px;
  /*background-color: blue;*/
}

.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute; 
  left: 50%;                             /*центровка*/
  margin-left: -69px;
  background-color: yellow;
  
  /* Временно для сетки */
  /*display: block;*/
}

.site-navigation-left {
  width: 528px;                          /*здесь брать от второй направляющей или от первой? сейчас от второй*/
  margin: 0;
  padding: 0;
  
  list-style: none;                      /*без маркеров*/
  
  /* Временно для сетки */
  min-height: 56px;
  background-color: red;
}

.site-navigation-right {
  width: 528px;
  margin: 0;
  padding: 0;
  
  list-style: none;
  
  /* Временно для сетки */
  min-height: 56px;
  background-color: red;
}

.main-navigation .container {
	width: 1056px;                        /*расстояние от второй до предпоследней направляющей, как в демке барбершопа*/
	margin: 0 auto;
	padding: 0 72px;                      /*72px - от первой до второй направляющей*/
	background-color: blue;
	opacity: 0.2;
	
	display: flex;
	justify-content: space-between;       /*вроде на этом макете необязательно*/
}

.main-container {
	width: 1200px;                        
	margin: 0 auto;
	padding: 0 0;   
}

.content-sedona {
	width: 1200px;
	height: 508px;
  
	/* Временно для сетки */
	display: block;
	/*background-color: green;*/
}

.main-title {
	width: 1200px;
	height: 216px;
	background-color: red;
	
	/* Временно для сетки */
	display: block;
}

.first-point {
	display: flex;
	justify-content: space-between;
	
	/* Временно для сетки */
	min-height: 256px;
	/*background-color: blue;*/
}

.real-city {
	width: 400px;
	
	/* Временно для сетки */
	min-height: 256px;
	/*background-color: orange;*/
}

.first-point-picture {
	width: 800px;
	height: 256px;
	
	/* Временно для сетки */
	/*background-color: green;*/
}
.features-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;

	list-style: none;
  
	/* Временно для сетки */
	min-height: 330px;
	/*background-color: yellow;*/
}

.feature-item {
	width: 400px;
	
	/* Временно для сетки */
	min-height: 330px;
	/*background-color: red;*/
}

.second-point {
	display: flex;
	justify-content: space-between;
	
	/* Временно для сетки */
	min-height: 256px;
	/*background-color: blue;*/
}

.second-point-picture {
	width: 800px;
	height: 256px;
	
	/* Временно для сетки */
	/*background-color: green;*/
}

.bridge {
	width: 400px;
	
	/* Временно для сетки */
	min-height: 256px;
	/*background-color: orange;*/
}

.third-point {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;

	list-style: none;
  
	/* Временно для сетки */
	min-height: 256px;
	/*background-color: yellow;*/
}

.area-road-tourists {
	width: 400px;
	
	/* Временно для сетки */
	min-height: 256px;
	/*background-color: red;*/
}

.interesting {
	width: 1200px;
	height: 291px;
	margin: 0 auto;
	padding: 0 0;   
	
	/* Временно для сетки */
	display: block;
	/*background-color: blue;*/
}

.find-hotel-button {
	/*position: relative;*/
	width: 568px;
	height: 86px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -86px;
	/*background-color: yellow;*/
}

.forms {
	width: 568px;
	height: 395px;
	position: absolute;
	left: 50%;
	margin-left: -284px;
	/*background-color: red;*/
}

.modal-map {
	width: 1200px; 
	height: 593px;
	/*background-color: orange;*/
}

.main-footer {
	padding: 0;
	background-color: transparent;
	margin-top: -120px;
	
	/*Временно для сетки*/
	min-height: 120px;
}

.main-footer .container {
	display: flex;
	justify-content: space-between;
}

.hashtag {
	width: 400px;
	margin: 0;
	
	/*Временно для сетки*/
	min-height: 120px;
	/*background-color: orange;*/
}

.footer-social {
	width: 400px;
	
	/*Временно для сетки*/
	min-height: 120px;
	/*background-color: blue;*/
}

.footer-copyright {
	width: 400px;
	margin: 0;
	
	/*Временно для сетки*/
	min-height: 120px;
	/*background-color: red;*/
}

/*Страница каталога*/

.inner-page {
	
	/*Временно для сетки*/
	background-image: url('../img/sedona-hotels.png');
	background-size: auto auto;   /*размеры фона исходные*/        
	background-repeat: no-repeat;
	background-position: center top;
	opacity: 0.3;
}

.main-container {
	width: 1200px;                        
	margin: 0 auto;
	padding: 0 0;   
}

.filters {
	display: flex;
	justify-content: space-between;
	width: 1200px;
	
	/*Временно для сетки*/
	min-height: 217px;
	/*background-color: red;*/
	background-image: url('../img/filter-background.jpg');
	background-size: auto auto; 
	background-repeat: no-repeat;
	background-position: center top;
}

.two-columns {
	width: 528px;
	height: 217px;
	margin-left: 72px;
	background-color: blue;
}

.third-column {
	width: 328px;
	height: 217px;
	margin-right: 72px;
	background-color: blue;
}

.sorting {
	display: flex;
	justify-content: space-between;
	width: 1200px;
	height: 87px;
	margin: 0;
	padding: 0; 
	
	/*Временно для сетки*/
	/*background-color: green;*/
}

.sorting-menu {
	width: 528px; 
	margin: 0;
	padding: 0;
	margin-left: 72px;                            	/*не отображается этот блок :( */

	list-style: none;
	
	/*Временно для сетки*/
	height: 87px;
	background-color: blue;
}

.switch {
	width: 241px;
	margin-right: 72px;
	/*Временно для сетки*/
	min-height: 87px;
	background-color: red;
}

.catalog-list {
	width: 1200px;
	margin: 0;
	padding: 0;
	
	list-style: none;
	/*Временно для сетки*/
	min-height: 453px;
	background-color: green;
}

.catalog-item {
	width: 1200px;
	
	/*Временно для сетки*/
	min-height: 151px;
	background-color: orange;
}

.main-footer {                                   /*футер вообще не отображается на этой странице, его части куда-то поехали :( */
	padding: 0;
	margin: 0;
	background-color: white;
	margin-top: -120px;
	
	/*Временно для сетки*/
	min-height: 120px;
	background-color: green;
}

.main-footer .container {
	display: flex;
	justify-content: space-between;
}

.hashtag {
	width: 400px;
	
	
	/*Временно для сетки*/
	min-height: 120px;
	background-color: grey;
}

.footer-social {
	width: 400px;
	
	/*Временно для сетки*/
	min-height: 120px;
	background-color: blue;
}

.footer-copyright {
	width: 400px;
	margin: 0;
	
	/*Временно для сетки*/
	min-height: 120px;
	background-color: red;
}

